.container {
  color: white;
}
.container-content {
  margin: 36px auto;
}
.register-form {
  background-color: rgb(12, 12, 55);
  border-radius: 10px;
  padding: 20px;
  max-width: 500px;
  border: 1px solid rgb(32, 34, 60);
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 1px 2px rgba(255, 255, 255, 0.1);
}

.register-header {
  text-align: center;
  color: rgb(105, 244, 181);
  margin-bottom: 20px;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
}

.form-group label {
  font-size: 17px;
  font-weight: 500;
}

.form-control {
  margin-top: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
}

.form-control::placeholder {
  color: #ffffff81;
}
.form-control:focus {
  color: #fff;
  background-color: transparent;
  outline: none;
  border-color: transparent;
  border: none;
}
.divider-nospace {
  border-top: 1px solid #fff;
}

.password-filed,
.wapper-input-password {
  position: relative;
}

.icon-eye {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: rgb(105, 244, 181);
  cursor: pointer;
}
.checkbox-text input[type="checkbox"]:checked {
  border-color: #fff;
  background-color: rgb(233, 66, 178);
}
.checkbox-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  color: rgb(243, 165, 42);
}
.form-check-input {
  margin-right: 5px;
}

.login-link {
  color: rgb(242, 0, 149);
  text-decoration: none;
  font-weight: 500;
  animation: colorAnimation 2s linear infinite;
}
.login-link:hover {
  color: rgb(105, 244, 181);
}

.register-btn {
  background: linear-gradient(to right, rgb(225, 64, 180), rgb(126, 43, 237));
  color: #fff;
  border-radius: 30px;
  width: 100%;
  margin: 20px auto;
  border: none;
  padding: 10px 0;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

.disabled-btn {
  background: #ccc !important; /* Màu xám khi nút bị vô hiệu hóa */
  color: #666;
  cursor: not-allowed;
  border: none;
}

@keyframes colorAnimation {
  0% {
    color: rgb(242, 0, 149);
  }
  50% {
    color: rgb(229, 12, 132);
  }
  100% {
    color: rgb(156, 20, 235);
  }
}
