.intro-section {
  text-align: center;
  color: #fff;
  padding: 20px;
}

//  Css cho ben phai
.product-header {
  color: rgb(233, 66, 176);
}
.form-control {
  background-color: rgb(19, 23, 42);
  border: 1px solid rgb(29, 33, 54);
  color: #fff;
  box-shadow: 0 1px 1px rgba(255, 255, 253, 254);
}
.form-control::placeholder {
  color: #918f8f;
}
.form-control:focus {
  border-color: #fff;
  background-color: rgb(19, 23, 42);
}
.form-control:hover {
  cursor: pointer;
}
.form-label {
  color: #fff;
  font-weight: 500;
  font-size: 17px;
}

.row .col:nth-child(2) .product-header {
  color: rgb(105, 244, 181);
}

table {
  width: 100%;
  border-radius: 10px;
  border: none;
  border-collapse: separate;
  border: 2px solid rgb(143, 16, 222);
  border-spacing: 0;
  background-color: rgb(12, 13, 54);
}
th,
td {
  padding: 10px;
  text-align: center;
  color: #fff;
}
th {
  position: relative;
  font-weight: 500;
  font-size: 17px;
  text-decoration: underline;
}

.product-info {
  display: flex;
  align-items: center;
}

.product-img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  margin-right: 10px;
}

.product-name {
  color: #fff;
  margin-right: 10px;
}
.header-text {
  color: #fff;
  font-weight: 500;
}
.header-text span {
  color: #ef0d0d;
  font-weight: 600;
}
.btn-gradient {
  background: linear-gradient(to right, rgb(225, 64, 180), rgb(126, 43, 237));
  color: #fff;
  border-radius: 30px;
  width: 200px;
}
