<div class="container">
  <div class="intro-section">
    <h1>Trang home</h1>
    <p>Trang nay hien thi xem san pham</p>
  </div>
  <!-- Doan nay co o serch ben trai va comboox ben phai -->
  <div class="search-box">
    <input [formControl]="searchForm" class="form-control search-input" type="text" placeholder="Tim san pham" />
    <select class="form-control product-category">
      <option [value]=0 class="product-category-item" selected disabled>
        -- Danh muc san pham --
      </option>
      <option *ngFor="let category of categories" class="product-category-item" [value]="category.id">{{category.name}}
      </option>
    </select>
  </div>

  <div class="row g-2">
    <div class="col column2-4 col-md-6 col-sm-12" *ngFor="let product of displayedProducts">
      <div class="product-item">
        <img class="product-img" [src]="product.url" alt="Product imga" />
        <h3 class="product-name">{{product.name}}</h3>
        <p class="product-description">{{product.description}}</p>
        <p class="product-warranty">Bảo hành: 12 tháng</p>
        <p class="product-price">Giá: <del>$500</del> ${{product.price}}</p>
        <p class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
        </p>
        <div class="product-action">
          <button type="button" class="btn btn-primary">
            Thêm vào giỏ hàng
          </button>
          <button type="button" class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
  </div>
</div>