.intro-section {
  text-align: center;
  color: #fff;
  padding: 20px;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  width: 300px;
  background-color: rgb(19, 23, 42);
  margin-right: 10px;
  border-color: rgba(255, 255, 255, 0.5);
  color: #fff;
  cursor: pointer;
}

.product-category {
  width: 200px;
}
.product-category:hover {
  cursor: pointer;
}

.form-control {
  background-color: transparent;
  background-color: rgb(19, 23, 42);
  color: #fff;
}

.form-control::placeholder {
  color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.form-control::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.product-item {
  background-color: rgb(19, 23, 42);
  border: 1px solid rgb(35, 39, 61);
  border-radius: 20px;
  padding: 10px;
  margin: 20px 0;
}

.product-item:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  opacity: 0.8;
}

.product-img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product-name {
  color: white;
}

.product-description {
  color: rgb(173, 178, 203);
}

.product-warranty {
  color: rgb(242, 126, 212);
}

.product-price {
  color: white;
}

.product-rating {
  color: yellow;
}

.product-action {
  margin: 30px 0 15px;
}
.product-action button {
  width: 90%;
  height: 45px;
  display: block;
  margin: 10px auto;
}

.column2-4 {
  width: 20%;
}
