<div class="container">
    <div class="intro-section">
        <h1>Trang home</h1>
        <p>Trang nay hien thi xem san pham</p>
    </div>
    <!-- Doan nay co o serch ben trai va comboox ben phai -->
    <div class="search-box">
        <input class="form-control search-input" type="text" placeholder="Tim san pham">
        <select class="form-control product-category">
            <option class="product-category-item" selected disabled>-- Danh muc san pham --</option>
            <option class="product-category-item"value="">Do dien tu</option>
            <option class="product-category-item"value="">Gia dung</option>
            <option class="product-category-item"value="">banh keo</option>
        </select>
    </div>

    <div class="row">
        <div class="col col-lg-4 col-md-6 col-sm-12">
            <div class="product-item">
                <img class="product-img"
                    src="https://images.pexels.com/photos/4050426/pexels-photo-4050426.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="Product imga">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Nobis ex inventore quasi itaque vel et.</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$500</del> $200</p>
                <p class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </p>
                <div class="product-action">
                    <button type="button" class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <button type="button" class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col col-lg-4 col-md-6 col-sm-12">
            <div class="product-item">
                <img class="product-img"
                    src="https://images.pexels.com/photos/4050426/pexels-photo-4050426.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="Product imga">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Nobis ex inventore quasi itaque vel et.</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$500</del> $200</p>
                <p class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </p>
                <div class="product-action">
                    <button type="button" class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <button type="button" class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col col-lg-4 col-md-6 col-sm-12">
            <div class="product-item">
                <img class="product-img"
                    src="https://images.pexels.com/photos/4050426/pexels-photo-4050426.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="Product imga">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Nobis ex inventore quasi itaque vel et.</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$500</del> $200</p>
                <p class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </p>
                <div class="product-action">
                    <button type="button" class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <button type="button" class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col col-lg-4 col-md-6 col-sm-12">
            <div class="product-item">
                <img class="product-img"
                    src="https://images.pexels.com/photos/4050426/pexels-photo-4050426.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="Product imga">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Nobis ex inventore quasi itaque vel et.</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$500</del> $200</p>
                <p class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </p>
                <div class="product-action">
                    <button type="button" class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <button type="button" class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col col-lg-4 col-md-6 col-sm-12">
            <div class="product-item">
                <img class="product-img"
                    src="https://images.pexels.com/photos/4050426/pexels-photo-4050426.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="Product imga">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Nobis ex inventore quasi itaque vel et.</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$500</del> $200</p>
                <p class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </p>
                <div class="product-action">
                    <button type="button" class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <button type="button" class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col col-lg-4 col-md-6 col-sm-12">
            <div class="product-item">
                <img class="product-img"
                    src="https://images.pexels.com/photos/4050426/pexels-photo-4050426.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="Product imga">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Nobis ex inventore quasi itaque vel et.</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$500</del> $200</p>
                <p class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </p>
                <div class="product-action">
                    <button type="button" class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <button type="button" class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
    </div>
</div>
